
body{
    background: rgba(198, 205, 255, 0.7);
    width: 60%;
    margin: 50px auto;
    max-width: 800px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    border-radius: 10px ;
}
h1,p{
    text-align: center;
    margin: auto;
}
label{
    display: block;
    margin: 5px;
}
.inline-label{
    display: inline-block;
    width: auto;
}
input[type=checkbox], input[type=radio]{
    display: inline-block;
    width: auto;
}
input{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 3px;
    background-color: rgb(147, 205, 255);
    border: solid 1px rgb(175, 182, 255);
    resize: vertical;
    border-radius: 10px;
}
.button{
    margin: 15px;
    
}
video{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}